// Include all the stuff
@import "stylobate"
@import "skins/islands"

// Remove or change this if you'd like to use another skin or use full skin names
set-skin-namespace('islands')

// Your styles go here
