// Include all the stuff
@import "node_modules/stylobate"
$init_islands_root = true
@import "node_modules/stylobate-islands"

// Remove or change this if you'd like to use another skin or use full skin names
set-skin-namespace('islands')

// Shortcuts to variables
$xs = $islands_xs
$s = $islands_s
$m = $islands_m
$l = $islands_l

$text_m = $islands_text_m
$text_s = $islands_text_s

$color_text = $islands_color_text
$color_text_misc = $islands_color_text_misc

// Your styles go here
