// Using stylobuild to build the styles
use('node_modules/stylobuild', {
  ie: ie
})

// Uncomment below to use pixels instead of rems everywhere
// rem = 10px

// Comment below to remove init styles on HTML and BODY
$init_islands_root = true

@require "node_modules/stylobate-islands/lib/standalone"

// Your styles go here
